<a href="https://colab.research.google.com/github/kupendrav/DS-AI/blob/main/MissingValuesIdentify.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.ybifoundation.org

# **Identify Missing Values**

## **Read Dataset with Missing Values**

In [ ]:
# import library
import pandas as pd

In [ ]:
# read dataset
df = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Air%20Quality%20Missing%20Data.csv')

In [ ]:
df.head()

         Date  Ozone  Solar  Wind  Temp
0  01-05-1976   41.0  190.0   7.4    67
1  02-05-1976   36.0  118.0   8.0    72
2  03-05-1976   12.0  149.0  12.6    74
3  04-05-1976   18.0  313.0  11.5    62
4  05-05-1976    NaN    NaN  14.3    56

## **Identify Missing Values**

In [ ]:
# identify missing values with .info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    153 non-null    object
 1   Ozone   116 non-null    float64
 2   Solar   146 non-null    float64
 3   Wind    153 non-null    float64
 4   Temp    153 non-null    int64
dtypes: float64(3), int64(1), object(1)
memory usage: 6.1+ KB

In [ ]:
# columns wise count of missing values .isna().sum()
df.isna().sum()

Date      0
Ozone    37
Solar     7
Wind      0
Temp      0
dtype: int64

In [ ]:
# columns wise count of missing values .isnull().sum()
df.isnull().sum()

Date      0
Ozone    37
Solar     7
Wind      0
Temp      0
dtype: int64

In [ ]:
# columns wise count of non missing values .notna().sum()
df.notna().sum()

Date     153
Ozone    116
Solar    146
Wind     153
Temp     153
dtype: int64

In [ ]:
# columns wise count of missing values .notnull().sum()
df.notnull().sum()

Date     153
Ozone    116
Solar    146
Wind     153
Temp     153
dtype: int64

In [ ]:
# checking for any missing value in a dataframe
df.isnull().any()

Date     False
Ozone     True
Solar     True
Wind     False
Temp     False
dtype: bool

In [ ]:
# checking for all missing value in a dataframe
df.isnull().all()

Date     False
Ozone    False
Solar    False
Wind     False
Temp     False
dtype: bool

In [ ]:
# checking for any missing value in rows
df.isnull().any(axis=1)

0      False
1      False
2      False
3      False
4       True
       ...
148    False
149     True
150    False
151    False
152    False
Length: 153, dtype: bool

In [ ]:
# checking for all missing value in rows
df.isnull().all(axis=1)

0      False
1      False
2      False
3      False
4      False
       ...
148    False
149    False
150    False
151    False
152    False
Length: 153, dtype: bool

In [ ]:
# checking for any missing value in rows
df.isnull().any(axis=1).sum()

42

In [ ]:
# checking for all missing value in rows
df.isnull().all(axis=1).sum()

0

## **Handling Messy Data**

In [ ]:
# read dataset
df = pd.read_excel('https://github.com/YBIFoundation/Dataset/raw/main/MessyMissing.xlsx')
df

   SN     Name  Gender Class  Age  Weight  Height
0   1     Abha       F   NaN  5.0    24.0     NaN
1   2    Akash       M   NaN  NaN     NaN     NaN
2   3     Aman     NaN     ?  NaN    30.0   102.0
3   4    Amber    Male    --  5.5    31.0   111.0
4   5     Ania  Female    **  5.6    29.0   121.0
5   6    Anita  Female     1  5.7    33.0   107.0
6   7  Anurudh    Male     1  6.0    37.0    98.0
7   8  Aravali  Female     1  6.5    27.0   106.0
8   9     Asha  Female     1  6.7    30.0   114.0
9  10    Awadh    Male   NaN  6.8    34.0   119.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SN      10 non-null     int64
 1   Name    10 non-null     object
 2   Gender  9 non-null      object
 3   Class   7 non-null      object
 4   Age     8 non-null      float64
 5   Weight  9 non-null      float64
 6   Height  8 non-null      float64
dtypes: float64(3), int64(1), object(3)
memory usage: 688.0+ bytes

In [ ]:
# find count of missing value
df.isna().sum()

SN        0
Name      0
Gender    1
Class     3
Age       2
Weight    1
Height    2
dtype: int64

In [ ]:
# define missing values
df = pd.read_excel('https://github.com/YBIFoundation/Dataset/raw/main/MessyMissing.xlsx',na_values=['--','**','?'])
df

   SN     Name  Gender  Class  Age  Weight  Height
0   1     Abha       F    NaN  5.0    24.0     NaN
1   2    Akash       M    NaN  NaN     NaN     NaN
2   3     Aman     NaN    NaN  NaN    30.0   102.0
3   4    Amber    Male    NaN  5.5    31.0   111.0
4   5     Ania  Female    NaN  5.6    29.0   121.0
5   6    Anita  Female    1.0  5.7    33.0   107.0
6   7  Anurudh    Male    1.0  6.0    37.0    98.0
7   8  Aravali  Female    1.0  6.5    27.0   106.0
8   9     Asha  Female    1.0  6.7    30.0   114.0
9  10    Awadh    Male    NaN  6.8    34.0   119.0

In [ ]:
# find count of missing value
df.isna().sum()

SN        0
Name      0
Gender    1
Class     6
Age       2
Weight    1
Height    2
dtype: int64

#[Have a Doubt? Join Our Live Q&A for Help](https://www.ybifoundation.org/session/live-doubt-resolution-session)